<div *ngIf="errorMessage" class="validation">
  <div>{{errorMessage}}</div>
</div>

    <mat-card-content *ngIf="openDialog">
      <form [formGroup]="EditPasswordForm">
        <h2>Changement de mot de passe !</h2>

        <mat-form-field class="full-width-input">
          <input matInput placeholder="Ancien mot de passe" formControlName="oldPassword" required [type]="hideOldPasword ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hideOldPasword = !hideOldPasword">{{hideOldPasword ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="EditPasswordForm.hasError('required', 'password')">
            Veuillez entrer un mot de passe
          </mat-error>
          <mat-error *ngIf="EditPasswordForm.hasError('minlength', 'password')">
            Le mot de passe doit avoir au moins 4 caractères.
          </mat-error>
          <mat-error *ngIf="EditPasswordForm.hasError('maxlength', 'password')">
            Le mot de passe doit avoir au maximum 40 caractères.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput placeholder="Nouveau mot de passe" formControlName="newPassword" required [type]="hideNewPassword ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="EditPasswordForm.hasError('required', 'password')">
            Veuillez entrer un nouveau mot de passe
          </mat-error>
          <mat-error *ngIf="EditPasswordForm.hasError('minlength', 'password')">
            Le nouveau mot de passe doit avoir au moins 4 caractères.
          </mat-error>
          <mat-error *ngIf="EditPasswordForm.hasError('maxlength', 'password')">
            Le nouveau mot de passe doit avoir au maximum 40 caractères.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <input matInput placeholder="Confirmation du mot de passe" formControlName="confirmPassword" required [type]="hideConfirmationPassword ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hideConfirmationPassword = !hideConfirmationPassword">{{hideConfirmationPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="EditPasswordForm.hasError('required', 'password')">
            Veuillez entrer la confirmation de votre mot de passe
          </mat-error>
          <mat-error *ngIf="EditPasswordForm.hasError('minlength', 'password')">
            La confirmation du mot de passe doit avoir au moins 4 caractères.
          </mat-error>
          <mat-error *ngIf="EditPasswordForm.hasError('maxlength', 'password')">
            La confirmation du mot de passe doit avoir au maximum 40 caractères.
          </mat-error>
        </mat-form-field>
        <button class ="button-cancel" [mat-dialog-close]="true">Annuler</button>
        <button class ="button-add" type="submit" (click) = "OnAddEditPassword()">Enregistrer</button>
      </form>
    </mat-card-content>









<mat-card *ngIf="!openDialog">
  <mat-card-content>
    <form [formGroup]="EditPasswordForm">
      <h2>Changement de mot de passe !</h2>

      <mat-form-field class="full-width-input">
        <input matInput placeholder="Ancien mot de passe" formControlName="oldPassword" required [type]="hideOldPasword ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hideOldPasword = !hideOldPasword">{{hideOldPasword ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="EditPasswordForm.hasError('required', 'password')">
          Veuillez entrer un mot de passe
        </mat-error>
        <mat-error *ngIf="EditPasswordForm.hasError('minlength', 'password')">
          Le mot de passe doit avoir au moins 4 caractères.
        </mat-error>
        <mat-error *ngIf="EditPasswordForm.hasError('maxlength', 'password')">
          Le mot de passe doit avoir au maximum 40 caractères.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput placeholder="Nouveau mot de passe" formControlName="newPassword" required [type]="hideNewPassword ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">{{hideNewPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="EditPasswordForm.hasError('required', 'password')">
          Veuillez entrer un nouveau mot de passe
        </mat-error>
        <mat-error *ngIf="EditPasswordForm.hasError('minlength', 'password')">
          Le nouveau mot de passe doit avoir au moins 4 caractères.
        </mat-error>
        <mat-error *ngIf="EditPasswordForm.hasError('maxlength', 'password')">
          Le nouveau mot de passe doit avoir au maximum 40 caractères.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput placeholder="Confirmation du mot de passe" formControlName="confirmPassword" required [type]="hideConfirmationPassword ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hideConfirmationPassword = !hideConfirmationPassword">{{hideConfirmationPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="EditPasswordForm.hasError('required', 'password')">
          Veuillez entrer la confirmation de votre mot de passe
        </mat-error>
        <mat-error *ngIf="EditPasswordForm.hasError('minlength', 'password')">
          La confirmation du mot de passe doit avoir au moins 4 caractères.
        </mat-error>
        <mat-error *ngIf="EditPasswordForm.hasError('maxlength', 'password')">
          La confirmation du mot de passe doit avoir au maximum 40 caractères.
        </mat-error>
      </mat-form-field>



      <button class ="button-cancel" (click) = "OnCancelEditPassword()">Annuler</button>
      <button class ="button-add" type="submit" (click) = "OnAddEditPassword()">Enregistrer</button>

    </form>
  </mat-card-content>
</mat-card>


