
<div class="example-container">
  <mat-form-field>
    <mat-label>Recherche</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Recherche" #input>
  </mat-form-field>

  <button [routerLink] = "['/meeting/add/',personID]" aria-label="Add new meeting" class="addButton" mat-icon-button style="color:#4CAF50">
    <mat-icon inline="true">add</mat-icon>
  </button>

  <mat-table [dataSource]="dataSource" matSort matSortActive="notes" matSortDirection="asc" class="mat-elevation-z8" >
    <ng-container matColumnDef="notes">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Notes </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">Notes:</span>
        {{row.notes}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="followup">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Suivi </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">Suivi:</span>
        {{row.followup}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="goals">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Buts </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">Buts:</span>
        {{row.goals}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions-icon">
      <mat-header-cell  *matHeaderCellDef mat-sort-header>  </mat-header-cell>
      <mat-cell  *matCellDef="let row">
        <span class="mobile-label"></span>
        <img class="icons" src="assets/edit-icon.png" alt="Icone modifier" [routerLink]="['/meeting',row.id]" routerLinkActive="active"/>
      </mat-cell>
    </ng-container>

    <mat-header-row  *matHeaderRowDef=" displayedColumns" ></mat-header-row>
    <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row >

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Aucune donnée trouvé en appliquant le filtre: "{{input.value}}"</td>
    </tr>

  </mat-table>
</div>
