.HideOtherButton{
  display: none;
}

.validation{
  max-width: 600px;
  width:600px;
  margin: 2em auto;
}

mat-card {
  max-width: 600px;
  width:600px;
  margin: 2em auto;
  top:25%;
  text-align: center;
  background-color: #fbfbfb;
  box-shadow: 5px 10px 8px #888888!important;
}

mat-form-field {
  display: block;
}

.mat-form-field {
  margin-top: 16px;
}

#password{
  cursor:auto;
}
