# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Pierre-Olivier\Desktop\Angular\École\Projet_Angular_INF1013\Projet_Angular_INF1013\Projet-INF1013\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
