
mat-card {
  max-width: 700px;
  width: 700px;
  margin: 2em auto;
  top:2%;
  text-align: center;
  background-color: #fbfbfb;
  box-shadow: 5px 10px 8px #888888!important;
}

mat-form-field {
  display: block;
}

.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
.laststep{
  margin-right: 36px;
  margin-top: 10px;
}

.button-add{
  margin-top: 10px;
}

