<div *ngIf="errorMessage" class="validation">
  <div>{{errorMessage}}</div>
</div>
<mat-card>
  <h2>Modification des informations de {{person?.fname!}} {{person?.lname}}</h2>
  <!-- Formulaire pour modifier une personne. -->
  <mat-card-content>
    <!-- INFORMATIONS PERSONNELLES -->
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form *ngIf="firstFormGroup" [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Informations personnelles</ng-template>

          <mat-form-field class="full-width-input">
            <input matInput placeholder="Prénom" formControlName="fname">
            <mat-error>
              Veuillez entrer un prénom.
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Nom" formControlName="lname">
            <mat-error>
              Veuillez entrer un nom.
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Date de naissance</mat-label>
            <input matInput [matDatepicker]="birthday" [value]="person.birthday" formControlName="birthday">
           <!-- {{person.birthday | date:'d MMMM  y':'d MMMM  y'}}  -->
            <mat-datepicker-toggle matSuffix [for]="birthday"></mat-datepicker-toggle>
            <mat-datepicker #birthday></mat-datepicker>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Sexe</mat-label>
            <mat-select [(value)]="person.sexe">
              <mat-option *ngFor="let gender of genderEnum" [value]="gender.name">
                {{ gender.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Adresse" formControlName="address">
            <mat-error>
              Veuillez entrer une adresse.
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Numéro de téléphone" formControlName="phone">
            <mat-error>
              Veuillez entrer un numéro de téléphone.
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="NAS" formControlName="NAS">
            <mat-error>
              Veuillez entrer un NAS.
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Problèmes de santé/allergies</mat-label>
            <textarea matInput formControlName="healthIssues"></textarea>
          </mat-form-field>

          <div>
            <button mat-button matStepperNext>Prochaine étape</button>
          </div>
        </form>
      </mat-step>




      <!-- INFORMATIONS SUR LE TRAVAIL -->
      <mat-step [stepControl]="secondFormGroup">
        <form *ngIf="secondFormGroup" [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Informations sur le travail</ng-template>

          <mat-form-field>
            <mat-label>Lieu de travail</mat-label>
            <mat-select [(value)]="person.workCityID" formControlName="workCityID">
              <mat-option *ngFor="let city of cities" [value]="city.id">
                {{ city.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
          <mat-form-field appearance="fill">
            <mat-label>Date de début de la participation</mat-label>
            <input matInput [matDatepicker]="startDate" [value]="person.startDate" formControlName="startDate">
            <!--  {{person.startDate | date:'d MMMM  y':'d MMMM  y'}}-->
              <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
              <mat-label>Date de fin de la participation</mat-label>
              <input matInput [matDatepicker]="endDate" [value]="person.endDate" formControlName="endDate">
              <!--  {{person.endDate | date:'d MMMM  y':'d MMMM  y'}}-->
                <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                <mat-datepicker #endDate></mat-datepicker>
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Référence</mat-label>
                <mat-select [(value)]="person.referenceID" formControlName="referenceID">
                  <mat-option *ngFor="let reference of referenceList" [value]="reference.id">
                    {{ reference.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Type de résidence</mat-label>
                <mat-select [(value)]="person.residenceTypeID" formControlName="residenceTypeID">
                  <mat-option *ngFor="let residenceType of residenceTypeList" [value]="residenceType.id">
                    {{ residenceType.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <br>
              <mat-form-field>
                <mat-label>Niveau de scolarité</mat-label>
                <mat-select [(value)]="person.educationalLevelID" formControlName="educationalLevelID">
                  <mat-option *ngFor="let educationLevel of educationLevelList" [value]="educationLevel.id">
                    {{ educationLevel.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <br>

              <div>
                <button mat-button matStepperPrevious>Étape précédente</button>
                <button mat-button matStepperNext>Prochaine étape</button>
              </div>
            </form>
          </mat-step>




          <!-- PARTICIPATION À UN PROGRAMME D'EMPLOYABILITÉ -->
      <mat-step [stepControl]="thirdFormGroup">
        <form *ngIf="thirdFormGroup" [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Participation à un programme d'employabilité</ng-template>

          <mat-form-field appearance="fill">
            <mat-label>Date de début</mat-label>
            <input matInput [matDatepicker]="programStartDate" [value]="person.programStartDate" formControlName="programStartDate">
            <!-- {{person.programStartDate | date:'d MMMM  y':'d MMMM  y'}}-->
             <mat-datepicker-toggle matSuffix [for]="programStartDate"></mat-datepicker-toggle>
             <mat-datepicker #programStartDate></mat-datepicker>
           </mat-form-field>
           <br>
           <mat-form-field appearance="fill">
             <mat-label>Date de fin</mat-label>
             <input matInput [matDatepicker]="programEndDate" [value]="person.programEndDate" formControlName="programEndDate">
           <!--  {{person.programEndDate | date:'d MMMM  y':'d MMMM  y'}}-->
             <mat-datepicker-toggle matSuffix [for]="programEndDate"></mat-datepicker-toggle>
             <mat-datepicker #programEndDate></mat-datepicker>
           </mat-form-field>
           <br>
           <mat-form-field>
             <mat-label>Motifs de départ</mat-label>
             <mat-select [(value)]="person.departureReasonID" formControlName="departureReasonID">
               <mat-option *ngFor="let departureReason of departureReasonList" [value]="departureReason.id">
                 {{ departureReason.name }}
               </mat-option>
             </mat-select>
           </mat-form-field>
           <br>
           <mat-form-field class="full-width-input">
             <input matInput type="number" placeholder="Heures travaillées par jour " formControlName="hoursPerDay">
             <mat-error>
               Veuillez entrer le nombre d'heures travaillées par jour.
             </mat-error>
           </mat-form-field>
           <br>
           <mat-form-field>
             <mat-label>Statut</mat-label>
             <mat-select [(value)]="person.statusID" formControlName="statusID">
               <mat-option *ngFor="let status of statusList"
                           [value]="status.id">{{status.name}}
               </mat-option>
             </mat-select>
           </mat-form-field>
           <br>
           <mat-form-field>
             <mat-label>Suivi en itinérance</mat-label>
             <mat-select #followRoaming [value]="person.roamingTracking|convertBoolean"
                         (valueChange)="followRoaming.value = $event" formControlName="roamingTracking">
               <mat-option value="Oui">Oui</mat-option>
               <mat-option value="Non">Non</mat-option>
             </mat-select>
           </mat-form-field>
           <br>
           <div *ngIf="followRoaming.value == 'Oui'">
             <p>Dates du suivi d'itinérance</p>
             <mat-form-field appearance="fill">
               <mat-label>Date de début</mat-label>
               <input matInput [matDatepicker]="roamingStartDate" [value]="person.roamingStartDate" formControlName="roamingStartDate">
               <!-- {{person.roamingStartDate | date:'d MMMM  y':'d MMMM  y'}}-->
                <mat-datepicker-toggle matSuffix [for]="roamingStartDate"></mat-datepicker-toggle>
                <mat-datepicker #roamingStartDate></mat-datepicker>
              </mat-form-field>
              <br>
              <mat-form-field appearance="fill">
                <mat-label>Date de fin</mat-label>
                <input matInput [matDatepicker]="roamingEndDate" [value]="person.roamingEndDate" formControlName="roamingEndDate">
              <!--  {{person.roamingStartDate | date:'d MMMM  y':'d MMMM  y'}} -->
                <mat-datepicker-toggle matSuffix [for]="roamingEndDate"></mat-datepicker-toggle>
                <mat-datepicker #roamingEndDate></mat-datepicker>
              </mat-form-field>
            </div>
            <br>
            <mat-form-field>
              <mat-label>Travaux communautaires</mat-label>
              <mat-select #communityWork [value]="person.communityWork|convertBoolean"
                          (valueChange)="communityWork.value = $event" formControlName="communityWork">
                <mat-option value="Oui">Oui</mat-option>
                <mat-option value="Non">Non</mat-option>
              </mat-select>
            </mat-form-field>
            <br>
            <div *ngIf="communityWork.value == 'Oui'">
              <p>Dates des travaux communautaires</p>
              <mat-form-field appearance="fill">
                <mat-label>Date de début</mat-label>
                <input matInput [matDatepicker]="communityStartDate" [value]="person.communityStartDate" formControlName="communityStartDate">
                <!--  {{person.communityStartDate | date:'d MMMM  y':'d MMMM  y'}}-->
                  <mat-datepicker-toggle matSuffix [for]="communityStartDate"></mat-datepicker-toggle>
                  <mat-datepicker #communityStartDate></mat-datepicker>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                  <mat-label>Date de fin</mat-label>
                  <input matInput [matDatepicker]="communityEndDate" [value]="person.communityEndDate" formControlName="communityEndDate">
               <!--   {{person.communityEndDate | date:'d MMMM  y':'d MMMM  y'}}-->
                  <mat-datepicker-toggle matSuffix [for]="communityEndDate"></mat-datepicker-toggle>
                  <mat-datepicker #communityEndDate></mat-datepicker>
                </mat-form-field>
              </div>
              <br>
              <mat-form-field class="full-width-input">
                <input matInput type="number" placeholder="Taux horaire" formControlName="hourlyRate">
                <mat-error>
                  Veuillez entrer le taux horaire.
                </mat-error>
              </mat-form-field>
              <br>
              <mat-form-field class="full-width-input">
                <input matInput type="number" placeholder="Frais de transport" formControlName="transportFees">
                <mat-error>
                  Veuillez entrer les frais de transport.
                </mat-error>
              </mat-form-field>
              <br>
          <div>
            <button mat-button matStepperPrevious>Étape précédente</button>
            <button mat-button matStepperNext>Prochaine étape</button>
          </div>
        </form>
      </mat-step>

      <!-- PERSONNE RESSOURCE EN CAS D'URGENCE -->
      <mat-step [stepControl]="fourthFormGroup">
        <form *ngIf="fourthFormGroup" [formGroup]="fourthFormGroup">
          <ng-template matStepLabel>Personne ressource en cas d'urgence</ng-template>

          <mat-form-field class="full-width-input">
            <input matInput placeholder="Prénom de la personne ressource en cas d'urgence" formControlName="fname">
            <mat-error>
              Veuillez entrer le prénom de la personne ressource en cas d'urgence.
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Nom de la personne ressource en cas d'urgence" formControlName="lname">
            <mat-error>
              Veuillez entrer le nom de la personne ressource en cas d'urgence.
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Numéro de téléphone de la personne ressource en cas d'urgence" formControlName="phone">
            <mat-error>
              Veuillez entrer le numéro de téléphone de la personne ressource en cas d'urgence.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width-input">
            <input matInput placeholder="Relation avec la personne" formControlName="relation">
            <mat-error>
              Veuillez entrer le type de relation que vous avez avec la personne.
            </mat-error>
          </mat-form-field>

          <div>
            <button mat-button matStepperPrevious>Étape précédente</button>
            <button mat-button matStepperNext>Prochaine étape</button>
          </div>
        </form>
      </mat-step>

      <!-- Informations de la personne de suivi -->
      <mat-step [stepControl]="fifthFormGroup">
        <form *ngIf="fifthFormGroup" [formGroup]="fifthFormGroup">
          <ng-template matStepLabel>Informations de la personne de suivi</ng-template>

          <mat-form-field>
            <mat-label>Suivi par</mat-label>
            <mat-select #followedBy [value]="person.followedBy.interfaceName"
                        (valueChange)="followedBy.value =$event" formControlName="interfaceName">
              <mat-option value="Intervenant">Intervenant</mat-option>
              <mat-option value="Doctor">Médecin</mat-option>
              <mat-option value="EmergencyContact">Contacte d'urgence</mat-option>
              <mat-option value="OtherPerson">Autres</mat-option>
            </mat-select>
          </mat-form-field>


          <p>Informations de la personne de suivi</p>
          <mat-form-field class="full-width-input" >
            <input matInput placeholder="Prénom de la personne de suivi." formControlName="fname">
            <mat-error>
              Veuillez entrer le prénom de la personne de suivi.
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Nom de la personne de suivi." formControlName="lname">
            <mat-error>
              Veuillez entrer le nom de la personne de suivi.
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Numéro de téléphone de la personne de suivi." formControlName="phone">
            <mat-error>
              Veuillez entrer le numéro de téléphone de la personne de suivi.
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field *ngIf="followedBy.value == 'Doctor' || followedBy.value == 'Intervenant'" class="full-width-input">
            <input matInput placeholder="Email de la personne de suivi." formControlName="email">
            <mat-error>
              Veuillez entrer l'email de la personne de suivi.
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field *ngIf="followedBy.value == 'Doctor'" class="full-width-input">
            <input matInput placeholder="Numéro de fax de la personne de suivi." formControlName="fax">
            <mat-error>
              Veuillez entrer le numéro de fax de la personne de suivi.
            </mat-error>
          </mat-form-field>
          <br>
          <mat-form-field *ngIf="followedBy.value == 'OtherPerson' || followedBy.value == 'Intervenant'" class="full-width-input">
            <input matInput placeholder="Organisme de la personne de suivi." formControlName="organism">
            <mat-error>
              Veuillez entrer l'organisme de la personne de suivi.'
            </mat-error>
          </mat-form-field>

          <div>
            <button mat-button matStepperPrevious>Étape précédente</button>
            <button mat-button matStepperNext>Prochaine étape</button>
          </div>
        </form>
      </mat-step>


      <mat-step class="">
        <ng-template matStepLabel>Enregistrer</ng-template>
        <div class="laststep">
          <div>
            <button mat-button matStepperPrevious>Étape précédente</button>
            <button mat-button (click)="stepper.reset()">Recommencer</button>
          </div>
          <button class ="button-cancel" (click) = "onCancelPerson()">Annuler</button>
          <button class ="button-add" (click) = "onEditPerson()">Enregistrer</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>


















