
<div class="example-container">
  <!-- La recherche -->
  <div class ="container-search">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event)" placeholder="Recherche" #input>
    </mat-form-field>
  </div>


  <!-- Lister les rencontres de l'intervenant -->
  <mat-table [dataSource]="dataSource" matSort matSortActive="notes" matSortDirection="asc" class="mat-elevation-z8" >
    <ng-container matColumnDef="notes">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Notes </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">Notes:</span>
        {{row.notes}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="followup">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Suivi </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">Suivi:</span>
        {{row.followup}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="goals">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Buts </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">Buts:</span>
        {{row.goals}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions-icon">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> Actions</mat-header-cell>
      <mat-cell  *matCellDef="let row">
        <span class="mobile-label"></span>
        <img class="table-icon icons-click" src="assets/edit-icon.png" alt="Icone modifier" title="Modifier"
             [routerLink]="['/meeting/edit',row.id]" routerLinkActive="active"/>
      </mat-cell>
    </ng-container>

    <mat-header-row  *matHeaderRowDef=" displayedColumns" ></mat-header-row>
    <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row >

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Aucune donnée trouvé en appliquant le filtre: "{{input.value}}"</td>
    </tr>

  </mat-table>


  <div class ="container-button">
    <button  [routerLink] = "['/meeting/add/', personID]"  mat-fab color="basic" class="button-add-icon" aria-label="Ajouter une nouvelle rencontre">
      <mat-icon>add</mat-icon>
    </button>
  </div>


</div>
