<div *ngIf="errorMessage" class="validation">
  <div>{{errorMessage}}</div>
</div>
<mat-card>
  <!-- Formulaire pour ajouter une rencontre -->
  <mat-card-content>
    <form [formGroup]="addMeetingForm">
      <h2>Ajout d'une rencontre</h2>

      <mat-form-field class="full-width-input">
         <mat-select placeholder="Personne" formControlName="idPerson" required>
           <mat-option *ngFor="let p of this.persons" [value]="p.id">
             {{ p["fname"] + ' ' + p["lname"]}}
               </mat-option>
         </mat-select>
        <mat-error>
          Veuillez choisir une personne.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <textarea matInput placeholder="Notes" formControlName="notes" required></textarea>
        <mat-error *ngIf="addMeetingForm.hasError('required', 'notes')">
          Veuillez entrer des notes.
        </mat-error>
        <mat-error *ngIf="addMeetingForm.hasError('minlength', 'notes')">
          Les notes doivent avoir au moins 5 caractères.
        </mat-error>
        <mat-error *ngIf="addMeetingForm.hasError('maxlength', 'notes')">
          Les notes doivent avoir au maximum 4000 caractères.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <textarea matInput placeholder="Suivi" formControlName="followup" required></textarea>
        <mat-error *ngIf="addMeetingForm.hasError('required', 'followup')">
          Veuillez entrer un suivi.
        </mat-error>
        <mat-error *ngIf="addMeetingForm.hasError('minlength', 'followup')">
          Le suivi doit avoir au moins 5 caractères.
        </mat-error>
        <mat-error *ngIf="addMeetingForm.hasError('maxlength', 'followup')">
          Le suivi doit avoir au maximum 4000 caractères.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <textarea matInput placeholder="Buts" formControlName="goals" required></textarea>
        <mat-error *ngIf="addMeetingForm.hasError('required', 'goals')">
          Veuillez entrer des buts.
        </mat-error>
        <mat-error *ngIf="addMeetingForm.hasError('minlength', 'goals')">
          Les buts doivent avoir au moins 5 caractères.
        </mat-error>
        <mat-error *ngIf="addMeetingForm.hasError('maxlength', 'goals')">
          Les buts doivent avoir au maximum 4000 caractères.
        </mat-error>
      </mat-form-field>


      <div *ngIf="loggedUser.role == 'I'">
        <mat-form-field class="full-width-input">
          <mat-select placeholder="intervenant" formControlName="idIntervenant" required>
            <mat-option [value]="loggedUser.id">
              {{ intervenants.fname + ' ' + intervenants.lname }}
              <!--{{loggedUser.id}}-->
            </mat-option>
          </mat-select>
          <mat-error>
            Veuillez choisir un intervenant.
          </mat-error>
        </mat-form-field>
      </div>

      <div *ngIf="loggedUser.role == 'A'">
        <mat-form-field class="full-width-input">
          <mat-select placeholder="intervenant" formControlName="idIntervenant" required>
            <mat-option *ngFor="let i of this.intervenants" [value]="i.id">
              {{ i["fname"] + ' ' + i["lname"]}}
            </mat-option>
          </mat-select>
          <mat-error>
            Veuillez choisir un intervenant.
          </mat-error>
        </mat-form-field>
      </div>


      <button class ="button-cancel" (click) = "onCancelMeeting()">Annuler</button>
      <button class ="button-add" (click) = "onAddMeeting()">Ajouter</button>
    </form>
  </mat-card-content>
</mat-card>
