.icons{
  padding-left: 3px;
}

.example-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  width: 80%;
  margin: 0 auto;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

@media(max-width: 600px) {
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row {
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
}
.container-button{
  width:100%;
  padding-top: 10px;
  text-align: right;
}

.container-search{
  width:100%;
  padding-top: 10px;
  text-align: right;
}

.mat-form-field{
  width: 40%;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: green !important;
}
::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: green !important;
}
::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: green !important;;
}

