<div *ngIf="errorMessage" class="validation">
  <div>{{errorMessage}}</div>
</div>

<div class="container-person">
  <!-- La recherche -->
  <div class ="container-search">
    <mat-form-field  id="filter_active" class="filter active" appearance="fill">
      <mat-label>Statut</mat-label>
      <mat-select id = "typeAccount" #typeAccount (valueChange)="applyFilter();" [(ngModel)]="defaultSelectList" placeholder="Status">
        <mat-option  [value]="true">
          Actif
        </mat-option>
        <mat-option  [value]="false">
          Innactif
        </mat-option>
        <mat-option  [value]="''">
          Tous
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="filter search">
      <mat-label>Recherche</mat-label>
      <input matInput (keyup)="OnKeyUpSearchInput($event);
                               applyFilter();" id ="searchInput" placeholder="Recherche" #input>
    </mat-form-field>
  </div>


  <!-- Lister les personnes -->
  <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >

    <ng-container matColumnDef="fname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">Prénom:</span>
        {{row.fname}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lname">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">Nom:</span>
        {{row.lname}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> Téléphone </mat-header-cell>
      <mat-cell  *matCellDef="let row">
        <span class="mobile-label">Téléphone:</span>
        {{row.phone | phone}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions-icon">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
      <mat-cell  *matCellDef="let row">
        <span class="mobile-label"></span>
        <img *ngIf="row.active === true" class="table-icon icons-click" src="assets/edit-icon.png" alt="Icone modifier" title="Modifier"
             [routerLink]="['/person/edit',row.id]" routerLinkActive="active" style="padding-right: 10px"/>
        <img *ngIf="row.active === true" class="table-icon icons-click" src="assets/search-information.png" alt="Icone visualiser" title="Détails"
             [routerLink]="['/person/details',row.id]" routerLinkActive="active" style="padding-top: 3px"/>
        <img *ngIf="row.active === true" class="icons-click" src="assets/calendar-icon.jpg" alt="Icone rencontre" title="Rencontres"
             [routerLink]="['/meeting',row.id]" routerLinkActive="active" style="width:50px; height: 50px"/>
        <img *ngIf="row.active === true" class="table-icon icons-click actions" src="assets/icons8-trash-can-52.png" alt="Icone supprimer" title="Supprimer"
             (click)="onDelete(row.id)"/>
        <img *ngIf="row.active === false" class="table-icon icons-click actions" src="assets/iconfinder_Button White Check_58494.png" alt="Icone réactiver" title="Réactiver la personne"
             (click)="OnReactivatePerson(row.id)"/>
      </mat-cell>
    </ng-container>

    <mat-header-row  *matHeaderRowDef=" displayedColumns" ></mat-header-row>
    <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row >

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Aucune donnée trouvé en appliquant le filtre: "{{input.value}}"</td>
    </tr>

  </mat-table>


  <div class ="container-button">
    <button  [routerLink] = "['/person/add/']"  mat-fab color="basic" class="button-add-icon" aria-label="Ajouter une nouvelle personne">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
