<div *ngIf="errorMessage" class="validation">
  <div>{{errorMessage}}</div>
</div>
<mat-card>
  <!-- Formulaire pour modifier les informations de l'utilisateur
  <mat-card-content>
    <form *ngIf="editUserForm" [formGroup]="editUserForm" (ngSubmit)="onSubmit()">
      <h2>Modification d'un intervenant</h2>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Nom d'utilisateur" formControlName="username" required>
        <mat-error *ngIf="editUserForm.hasError('required', 'username')">
          Veuillez entrer un nom d'utilisateur.
        </mat-error>
        <mat-error *ngIf="editUserForm.hasError('minlength', 'username')">
          Le nom d'utilisateur doit avoir au moins 4 caractères.
        </mat-error>
        <mat-error *ngIf="editUserForm.hasError('maxlength', 'username')">
          Le nom d'utilisateur doit avoir au maximum 40 caractères.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput placeholder="Mot de passe" formControlName="password" required [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="editUserForm.hasError('required', 'password')">
          Veuillez entrer un mot de passe
        </mat-error>
        <mat-error *ngIf="editUserForm.hasError('minlength', 'password')">
          Le mot de passe doit avoir au moins 4 caractères.
        </mat-error>
        <mat-error *ngIf="editUserForm.hasError('maxlength', 'password')">
          Le mot de passe doit avoir au maximum 40 caractères.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Rôle" formControlName="role" [(ngModel)]="user.role" [disabled]="sameAccount ? 'true' : 'false'" required>
          <mat-option *ngFor="let role of roleEnum" [value]="role.name">
            {{role.name | convertRoleName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="editUserForm.hasError('required', 'role')">
          Veuillez entrer un rôle.
        </mat-error>
      </mat-form-field>
      <button class ="button-add" type="submit" id = "buttonintervenant" class = "HideOtherButton">Ajouter</button>
    </form>
    -->
    <!-- Formulaire pour modifier les informations de l'intervenant. -->
  <mat-card-content>
    <form *ngIf="editintervenantForm" [formGroup]="editintervenantForm" (ngSubmit)="onSubmit()">
      <h2>Modification d'un intervenant</h2>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Nom d'utilisateur" formControlName="username" required>
        <mat-error *ngIf="editintervenantForm.hasError('required', 'username')">
          Veuillez entrer un nom d'utilisateur.
        </mat-error>
        <mat-error *ngIf="editintervenantForm.hasError('minlength', 'username')">
          Le nom d'utilisateur doit avoir au moins 4 caractères.
        </mat-error>
        <mat-error *ngIf="editintervenantForm.hasError('maxlength', 'username')">
          Le nom d'utilisateur doit avoir au maximum 40 caractères.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="">
        <input matInput placeholder="Mot de passe" formControlName="password" required type="password">
        <button matSuffix  mat-button (click)="OneditPassword()" title="Modifier">
          <mat-icon>edit icon</mat-icon>
        </button>
        <mat-error *ngIf="editintervenantForm.hasError('required', 'password')">
          Veuillez entrer la confirmation de votre mot de passe
        </mat-error>
        <mat-error *ngIf="editintervenantForm.hasError('minlength', 'password')">
          La confirmation du mot de passe doit avoir au moins 4 caractères.
        </mat-error>
        <mat-error *ngIf="editintervenantForm.hasError('maxlength', 'password')">
          La confirmation du mot de passe doit avoir au maximum 40 caractères.
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-select placeholder="Rôle" formControlName="role" [(ngModel)]="user.role" [disabled]="sameAccount ? 'true' : 'false'" required>
          <mat-option *ngFor="let role of roleEnum" [value]="role.name">
            {{role.name | convertRoleName}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="editintervenantForm.hasError('required', 'role')">
          Veuillez entrer un rôle.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Prénom" formControlName="fname" required>
        <mat-error *ngIf="editintervenantForm.hasError('required', 'fname')">
          Veuillez entrer un prénom.
        </mat-error>
        <mat-error *ngIf="editintervenantForm.hasError('maxlength', 'fname')">
          Le prénom doit avoir au maximum 40 caractères.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput placeholder="Nom" formControlName="lname" required>
        <mat-error *ngIf="editintervenantForm.hasError('required', 'lname')">
          Veuillez entrer un nom.
        </mat-error>
        <mat-error *ngIf="editintervenantForm.hasError('maxlength', 'lname')">
          Le nom doit avoir au maximum 40 caractères.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput placeholder="Courriel" formControlName="email" required>
        <mat-error *ngIf="editintervenantForm.hasError('required', 'email')">
          Veuillez entrer un courriel.
        </mat-error>
        <mat-error *ngIf="editintervenantForm.hasError('email', 'email')">
          Veuillez entrer un courriel dans le format suivant: abc@abc.com
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput placeholder="Numéro de téléphone" formControlName="phone" required>
        <mat-error *ngIf="editintervenantForm.hasError('required', 'phone')">
          Veuillez entrer un numéro de téléphone.
        </mat-error>
        <mat-error *ngIf="editintervenantForm.hasError('pattern', 'phone')">
          Veuillez entrer un numéro de téléphone sous le format suivant: 0001112222
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width-input">
        <input matInput placeholder="Adresse" formControlName="address" required>
        <mat-error *ngIf="editintervenantForm.hasError('required', 'address')">
          Veuillez entrer une adresse.
        </mat-error>
        <mat-error *ngIf="editintervenantForm.hasError('maxlength', 'address')">
          L'adresse doit avoir au maximum 50 caractères.
        </mat-error>
      </mat-form-field>

      <button class ="button-cancel" (click) = "onCancelIntervenant()">Annuler</button>
      <button class ="button-add" type="submit" (click) = "onEditIntervenant()">Enregistrer</button>

    </form>
  </mat-card-content>
</mat-card>
