
<div class="contianer-row">
  <h1 id = "information_emplacement">Détails d'une personne</h1>
  <h2 id = "intervenant_responsable" *ngIf="person.responsibleIntervenantID">Intervenant responsable : {{getIntervenantFromID(person.responsibleIntervenantID).fname}} {{getIntervenantFromID(person.responsibleIntervenantID).lname}}</h2>
  <div class="row">
    <div class="column">
      <div class ="container-column">
        <h1 class = "header-column"> Informations personnelles</h1>
          <label>Prénom:</label>
          <p>{{person.fname}}</p>

          <label>Nom:</label>
          <p>{{person.lname}}</p>

          <label>Date de naissance:</label>
          <p>{{person.birthday | date:'d MMMM  y'}}</p>

          <label>Sexe:</label>
          <p>{{person.sexe}}</p>

          <label>Adresse:</label>
          <p>{{person.address}}</p>

          <label>Numéro de téléphone:</label>
          <p>{{person.phone  | phone}}</p>

          <label>NAS:</label>
          <p>{{person.NAS}}</p>

          <label>Problèmes de santé/allergies:</label>
          <textarea matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5">{{person.healthIssues}}</textarea>
      </div>

      <div class ="container-column">
        <h1 class = "header-column"> Participation à un programme d’employabilité</h1>

          <label>Date de début:</label>
          <p>{{person.programStartDate | date:'d MMMM  y'}}</p>

          <label>Date de fin:</label>
          <p>{{person.programEndDate | date:'d MMMM  y'}}</p>

          <label>Motifs de départ:</label>
          <p>{{person.departureReason}}</p>

          <label>Heures travaillées par jour:</label>
          <p>{{person.hoursPerDay}} heures</p>

          <label>Statut:</label>
          <p>{{person.status}}</p>

          <label>Suivi en itinérance:</label>
          <p #followRoaming [innerText]="person.roamingTracking|convertBoolean">{{person.roamingTracking | convertBoolean}}</p>

          <div *ngIf="followRoaming.innerText == 'Oui'">
            <label>Dates de début du suivi d'itinérance:</label>
            <p>{{person.roamingStartDate| date:'d MMMM  y'}}</p>

            <label>Dates de fin du suivi d'itinérance:</label>
            <p>{{person.roamingEndDate| date:'d MMMM  y'}}</p>
          </div>

          <label>Travaux communautaires:</label>
          <p #communityWork [innerText]="person.communityWork|convertBoolean">{{person.communityWork | convertBoolean}}</p>

        <div *ngIf="communityWork.innerText == 'Oui'">
          <label>Dates de début des travaux communautaires:</label>
          <p>{{person.communityStartDate| date:'d MMMM  y'}}</p>

          <label>Dates de fin des travaux communautaires:</label>
          <p>{{person.communityEndDate | date:'d MMMM  y'}}</p>
        </div>

          <label>Taux horaire:</label>
          <p>{{person.hourlyRate | currency :'$' }}</p>

          <label>Frais de transport:</label>
          <p>{{person.transportFees | currency :'$' }}</p>
      </div>

    </div>

    <div class="column column-right">
      <div class ="container-column">
        <h1 class = "header-column"> Informations sur le travail</h1>

          <label>Lieu de travail:</label>
          <p>{{cities[person.workCity]}}</p>

          <label>Date de début de la participation:</label>
          <p>{{person.startDate | date:'d MMMM  y'}}</p>

          <label>Date de fin de la participation:</label>
          <p>{{person.endDate | date:'d MMMM  y'}}</p>

          <label>Référence:</label>
          <p>{{person.reference}}</p>

          <label>Type de résidence:</label>
          <p>{{person.residenceType}}</p>

          <label>Niveau de scolarité:</label>
          <p>{{person.educationalLevel}}</p>

      </div>

      <div class ="container-column">
        <h1 class = "header-column"> Personne ressource en cas d'urgence</h1>

          <label>Prénom de la personne ressource en cas d'urgence:</label>
          <p>{{person.emergencyContact.fname}}</p>

          <label>Nom de la personne ressource en cas d'urgence:</label>
          <p>{{person.emergencyContact.lname}}</p>

          <label>Numéro de téléphone de la personne ressource en cas d'urgence:</label>
          <p>{{person.emergencyContact.phone  | phone}}</p>

      </div>

      <div class ="container-column">
        <h1 class = "header-column"> Informations de la personne de suivi</h1>
          <label>Type de personne:</label>
          <p>{{person.followedBy.interfaceName | convertInterfaceName}}</p>

          <label>Prénom de la personne de suivi:</label>
          <p>{{person.followedBy.fname}}</p>

          <label>Nom de la personne de suivi:</label>
          <p>{{person.followedBy.lname}}</p>

          <label>Numéro de téléphone de la personne de suivi:</label>
          <p>{{person.followedBy.phone | phone}}</p>


        <div *ngIf="person.followedBy.interfaceName == 'Doctor' || person.followedBy.interfaceName == 'Intervenant'" >
          <label>Email de la personne de suivi:</label>
          <p>{{person.followedBy.email}}</p>
        </div>

        <div *ngIf="person.followedBy.interfaceName == 'Doctor' " >
          <label>Numéro de fax de la personne de suivi:</label>
          <p>{{person.followedBy.fax | phone}}</p>
        </div>

        <div *ngIf="person.followedBy.interfaceName == 'OtherPerson'  || person.followedBy.interfaceName == 'Intervenant'">
          <label>Organisme de la personne de suivi:</label>
          <p>{{person.followedBy.organization}}</p>
        </div>
      </div>
    </div>
  </div>
</div>



