.row {
  display: flex;
  padding: 10px 10px 10px 10px;
}

.column {
  flex: 50%;
}

.column-right {
  margin-left: 20px;
}
.header-column{
  border-bottom : 1px solid;
  padding-bottom: 10px;
}

.column{

  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  background-clip: padding-box;
  margin-bottom: 20px;
}

mat-form-field {
  display: block;
  border-color: #ebedf0!important;
  border-bottom: 1px solid;
}

.container-column{
  padding:20px;
  border: 1px solid rgba(54, 64, 74, 0.08);
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  background-clip: padding-box;
  margin-bottom: 20px;
  background-color: #ffffff;
  margin-top: 10px;
}

.button-add{
  background-color: green;
  color:white;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  width:200px;
}



.main-div {
  max-width: 1000px;
  width: 1000px;
  margin: 2em auto;
  top:2%;
  text-align: center;
  background-color: green;
}

label {
  /* Other styling... */
  text-align: right;
  clear: both;
  float:left;
  margin-right:15px;
  font-weight: bold;
}

.left-mat-card {
  max-width: 400px;
  width: 400px;
 /* margin: 2em auto;*/
  /*top:2%;*/
  text-align: center;
  background-color: #fbfbfb;
  box-shadow: 5px 10px 8px #888888!important;
  float: left;
/* left: 10%;*/
}

.right-mat-card {
  max-width: 400px;
  width: 400px;
  text-align: center;
  background-color: #fbfbfb;
  box-shadow: 5px 10px 8px #888888!important;
  float: right;
}

body{
  height: auto!important;
}

#information-emplacement{
  padding:20px;
  text-align: center;
  border-bottom: 1px solid;
}
