/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
button:hover{
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1)!important;
}

.button-cancel:hover{
  background-color: #fff;
}
.button-edit{
  background-color: green;
  color:white;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  width:200px;
}
.icons-click{
  cursor: pointer;
  outline: none;
}

.button-add{
  background-color: forestgreen;
  color:white;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  width:200px;
}

.button-cancel{
  margin-right: 10px;
  color: #383838;
  background-color: #f8f8f8;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  width:200px;
}

.button-add-icon {
  background-color: forestgreen;
  width:auto;
  color:white;
}

.table-icon{
  width:25px;
  height:25px;
}

.info, .success, .warning, .error, .validation {
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;

}
.info {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url('https://i.imgur.com/ilgqWuX.png');
}
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image: url('https://i.imgur.com/Q9BGTuy.png');
}
.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url('https://i.imgur.com/Z8q7ww7.png');
}
.error{
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
}
.validation{
  color: #D63301;
  background-color: #FFCCBA;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
}
