/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}
button:hover{
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1)!important;
}

.button-cancel:hover{
  background-color: #fff;
}
.button-edit{
  background-color: green;
  color:white;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  width:200px;
}
.icons-click{
  cursor: pointer;
  outline: none;
}

.button-add{
  background-color: forestgreen;
  color:white;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  width:200px;
}

.button-cancel{
  margin-right: 10px;
  color: #383838;
  background-color: #f8f8f8;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  width:200px;
}

.button-add-icon {
  background-color: forestgreen;
  width:auto;
  color:white;
}

.table-icon{
  width:25px;
  height:25px;
}

