<div *ngIf="errorMessage" class="validation">
  <div>{{errorMessage}}</div>
</div>
<div class="container-intervenant">
  <!-- La recherche -->
  <div class ="container-search">
    <mat-form-field>
      <mat-label>Recherche</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Recherche" #input>
    </mat-form-field>
  </div>


  <!-- Lister les intervenants -->
  <mat-table [dataSource]="intervenants" matSort matSortActive="fname" matSortDirection="asc" class="mat-elevation-z8" >

    <ng-container matColumnDef="fname">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">Prénom:</span>
        {{row.fname}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lname">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">Nom:</span>
        {{row.lname}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> Courriel </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label">Courriel:</span>
        {{row.email}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> Téléphone </mat-header-cell>
      <mat-cell  *matCellDef="let row">
        <span class="mobile-label">Téléphone:</span>
        {{row.phone  | phone}}
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="address">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> Adresse </mat-header-cell>
      <mat-cell  *matCellDef="let row">
        <span class="mobile-label">Adresse:</span>
        {{row.address}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions-icon">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> Actions</mat-header-cell>
      <mat-cell *matCellDef="let row">
          <span class="mobile-label"></span>
          <img class="table-icon icons-click" src="assets/edit-icon.png" alt="Icone modifier" title="Modifier"
               [routerLink]="['/intervenant/edit',row.id]" routerLinkActive="active"/>
          <img *ngIf="accountid != row.id" class="table-icon icons-click actions" src="assets/icons8-trash-can-52.png" alt="Icone supprimer" title="Supprimer"
               (click)="onDelete(row.id)"/>

      </mat-cell>
    </ng-container>

    <mat-header-row  *matHeaderRowDef=" displayedColumns" ></mat-header-row>
    <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row >

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Aucune donnée trouvé en appliquant le filtre: "{{input.value}}"</td>
    </tr>

  </mat-table>

  <div class ="container-button">
    <button  [routerLink] = "['/intervenant/add/']"  mat-fab color="basic" class="button-add-icon" aria-label="Ajouter un intervenant">
      <mat-icon>add</mat-icon>
    </button>
  </div>

</div>
