mat-card {
  max-width: 600px;
  width:600px;
  margin: 2em auto;
  position:absolute;
  margin-left: 33%;
  top:30%;
  text-align: center;
  background-color: #fbfbfb;
}

mat-form-field {
  display: block;
}


